#space {
    width: 400px;
}
#error {
    color: red
}
.qr-image-container {
    background-color: black;
    padding: 40px;
    width: 400px;
    height: 400px;
    margin: 10px 0 10px 0
}
.qr-image {
    background-color: white;
}
.qr-list-container {
    width: 400px;
}
.qr-post-container {
    width: 400px;
}
.qr-post-container > div {
    margin: 1rem 0rem;
}