#space {
    width: 400px;
}
#error {
    color: red
}
.qr-image-container {
    background-color: black;
    padding: 40px;
}
.qr-image {
    background-color: white;
}
fieldset {
    border-width: 1px;
}