#space {
    width: 400px;
}
#error {
    color: red
}
.qr-container {
    max-width: 400px;
}
.qr-image-container {
    background-color: black;
    padding: 40px;
    /* width: 400px; */
    /* height: 400px; */
    margin: 10px 0 10px 0
}
.qr-image {
    background-color: white;
}
.qr-post-container > div {
    margin: 1rem 0rem;
}
.qr-title-container {
    display: flex;
    justify-content: left;}
.qr-title {
    font-size: 1.7rem;
    font-weight: 800;
}
body{
    margin: 1rem;
    padding: 0;
}
.footer-container {
    font-size: small;
    margin: 1rem 0rem;
}